.outerPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(46, 46, 57);
  padding: 5px;
  height: 100vh;
  width: 100%;
}
.accountTabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 80%;

  padding: 10px;
  margin-bottom: 5px;

  background-color: rgb(56, 56, 77);
}
.accountLeft {
  flex-grow: 2;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
}
.accountRight {
  flex-grow: 2;
  color: white;
  font-size: 1rem;
}
.accountFinal {
  flex-grow: 1;
}
