.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  height: 100vh;
  padding: 5px;
}
.outer header {
  background-color: rgb(56, 56, 77);
  width: 60%;
}
.paidInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  padding: 5px;

  background-color: rgba(200, 169, 44, 0.5);
}
.paidInfo p,
.paidTrue p {
  position: relative;
  top: 10px;
  margin-left: 5px;
  font-size: 1.1rem;
  font-weight: 500;
}
.paidInfo .ball,
.paidTrue .ball {
  font-size: 1.2rem;
}
.paidTrue {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  padding: 5px;

  background-color: rgba(78, 200, 44, 0.5);
}
.completedInvoiceContainer {
  position: relative;
  background-color: rgb(56, 56, 77);
  border-radius: 5px;
  padding: 10px;
  width: 70%;
}
.completedInvoiceContainer h1 {
  color: rgb(163, 130, 241);
  font-size: 1.4rem;
  font-weight: 600;
}
.completedInvoiceContainer p {
  color: white;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 700;
}
.upperDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.upperDiv div {
  margin: 5px;
}
.upperOne {
  flex-grow: 1;
  border: 1px solid black;
}
.upperTwo {
  flex-grow: 1;
  font-size: 5rem;
  border: 1px solid black;
}
.upperThree {
  flex-grow: 1;
  border: 1px solid black;
}
