.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.outer header {
  background-color: rgb(56, 56, 77);
  width: 70%;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.paidInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 5px;
  background-color: rgba(200, 169, 44, 0.5);
}
.paidInfo p,
.paidTrue p {
  position: relative;
  top: 10px;
  margin-left: 5px;
  font-weight: 500;
}

.paidTrue {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: normal;
  padding: 5px;
  background-color: rgba(78, 200, 44, 0.5);
}
.completedInvoiceContainer {
  position: relative;
  background-color: rgb(56, 56, 77);
  border-radius: 5px;
  padding: 10px;
  width: 70%;
}
.completedInvoiceContainer h1 {
  color: rgb(163, 130, 241);
  font-size: 1.4rem;
  font-weight: 600;
}
.completedInvoiceContainer p {
  color: white;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 700;
}
.upperDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.upperDiv div {
  margin: 5px;
}
.upperOne {
  flex-grow: 1;
}
.upperTwo {
  flex-grow: 1;
  font-size: 5rem;
}
.upperThree {
  flex-grow: 1;
}
