.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(56, 56, 77);
  padding: 5px;
}
.outer header {
  background-color: orange;
}
.completedInvoiceContainer {
  background-color: rgb(147, 126, 185);
  padding: 15px;
  width: 80%;
}
.completedInvoiceContainer h1 {
  font-size: 1rem;
  color: rgb(223, 223, 223);
}
.completedInvoiceContainer p {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}
.upperDiv {
  display: flex;
  flex-direction: row;
  background-color: red;
}
.upperDiv div {
  flex-grow: 1;
  margin: 5px;
}
