.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;

  border: 5px solid black;
  width: 100%;
}
.dashboard div p {
  font-size: 1.4rem;
  font-weight: 600;
}
.dashboard div {
  width: 200px;
  height: 200px;
  padding-top: 10px;
  margin: 5px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
