header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: white;
  background-color: rgb(125, 123, 123);
}
.signAndLogButtons {
  margin: 5px;
  padding: 0px;
}
.signAndLogButtons button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 130px;
  padding-bottom: 5px;
  border-radius: 15px;
  border: 0;
  font-size: 2rem;
  color: white;
  background-color: rgb(89, 80, 216);
}
.signAndLogButtons p {
  position: relative;
  top: 12px;
  font-size: 1.2rem;
  font-weight: 400;
}
.sideBarCloseIcon {
  position: relative;
  font-size: 2rem;
}

.sideBarCloseIcon svg {
  position: absolute;
  bottom: 0;
}
