header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: white;
  background-color: rgb(125, 123, 123);
}
.signAndLogButtons {
  margin: 5px;
  padding: 0px;
}
.signAndLogButtons button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;

  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  border: 0;

  font-size: 2rem;

  color: white;
  background-color: rgb(84, 77, 180);
}
.signAndLogButtons p {
  position: relative;
  top: 12px;
  font-size: 1.2rem;
  font-weight: 400;
}
.sideBarbutton {
  position: relative;
  font-size: 2rem;
}

.sideBarbutton svg {
  position: absolute;
  bottom: 0;
}
