header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  color: white;
  background-color: rgb(125, 123, 123);
}
.signAndLogButtons {
  margin: 5px;
  padding: 0px;
}
.signAndLogButtons button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: Cambria, Cochin, Georgia, Times;
  border-radius: 5px;
  border: 0;
  font-size: 1.2rem;
  color: white;
  background-color: #0d6efd;
}
.signAndLogButtons p {
  position: relative;
  margin-right: 5px;
  top: 5px;
}
.signAndLogButtons svg {
  position: relative;
  margin-right: 5px;
  top: 5px;
  font-size: 1.5rem;
}

.sideBarCloseIcon {
  position: relative;
  font-size: 2rem;
  background-color: red;
}

.sideBarCloseIcon svg {
  position: absolute;
  bottom: 0;
}
