.invoiceContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(46, 46, 57);
  padding: 5px;
}
.containerHeader {
  display: flex;
  justify-content: space-between;

  padding: 5px;

  background-color: rgb(56, 56, 77);
}
.containerHeader p {
  color: white;
  font-weight: 500;
  font-size: 2.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.invoiceList {
  height: 100vh;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
}
.newButton {
  padding: 10px;
  font-size: 0.9rem;
  border: 0;
  color: white;
  background-color: rgb(28, 28, 33);
}
