.outerGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 5px;
  width: 100%;
}

.gridForm {
  position: relative;
  background-color: rgb(56, 56, 77);

  padding: 20px;
  width: 60%;
}
.closeX {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(56, 56, 77);
}
.gridForm h4 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topLabel {
  color: rgb(163, 130, 241);
  font-size: 1.2rem;
  font-weight: 600;
}
label {
  color: rgb(175, 170, 188);
  font-size: 1.2rem;
  font-weight: 600;
}
