.invoiceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  background-color: rgb(46, 46, 57);
}
.invoiceHeader {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 5px;
}
.invoiceHeader p {
  color: white;
  font-weight: 500;
  font-size: 2.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.invoiceHeaderButtons {
  display: flex;
  flex-wrap: wrap;
}
.newInvoiceButton {
  padding: 10px;
  border: 0;
  color: rgba(255, 255, 255, 0.55);
  background-color: rgb(33, 37, 41);
}
.invoiceTableContainer {
  height: 100vh;
  width: 80%;
}

td {
  font-size: 1.2rem;
}
#openLink {
  text-align: center;
}
#openLink:hover {
  cursor: pointer;
}
#set {
  color: red;
}
