.sidebarVisible {
  width: 250px;
  background-color: rgb(42, 42, 46);
  transition: all 0.5s;
  color: wheat;
}
.sidebarHidden {
  transition: all 0.5s;
  overflow: hidden;
  width: 0;
  transform: translateX(-100%);
}
h1 {
  font-size: 1em !important;
}
.tabs {
  display: flex;
  flex-direction: column;
  color: rgb(225, 225, 225);
}

.tabs h3 {
  text-align: left;
  font-size: 20px;
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}
.tabs h3:hover {
  background-color: rgb(7, 7, 7);
  cursor: pointer;
}
