.sidebarVisible {
  flex-grow: 1;
  max-width: 200px;
  background-color: rgb(42, 42, 46);
  color: white;
}

.sidebarHidden {
  display: none;
  width: 0;
  overflow: hidden;
}
.mobileVisible {
  flex-grow: 1;
  background-color: rgb(42, 42, 46);
}
.sidebarHidden {
  display: none;
  width: 0;
  overflow: hidden;
}

.closeIcon {
  text-align: right;
  font-size: 2rem;
  padding-right: 1px;
}

.closeIcon svg:hover {
  cursor: pointer;
  color: rgb(234, 234, 234);
}

.tabContainer {
  display: flex;
  flex-direction: column;
  color: rgb(225, 225, 225);
}
.tabContainer div {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}
.tabContainer div:hover {
  background-color: rgb(107, 107, 107);
  cursor: pointer;
}

.tabContainer h3 {
  margin: 0;
  font-size: 1.5rem;
}
.tabIcon {
  font-size: 1.5rem;
}
