.fourm {
  z-index: 1;
  position: absolute;
  width: 50%;
  top: 40%;
  left: 55%;
  margin-right: -50%;
  padding: 25px;
  transform: translate(-50%, -50%);
  border: 5px groove silver;
  background-color: rgb(245, 245, 245);
}
.mb-3 {
  color: black;
  font-size: 1.2rem;
}
.fourm input {
  margin-top: 5px;
  margin-bottom: 10px;
}
.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  font-size: 2rem;
  color: grey;
  background-color: rgb(245, 245, 245);
}
.closeButton:hover {
  color: black;
  cursor: pointer;
}
