.fourm {
  z-index: 1;
  position: absolute;
  border: 5px groove silver;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  width: 50%;
  top: 40%;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.newUserButton {
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
}
